.menu{margin:0 auto; padding:0; height:30px; width:100%; display:block; background:url("http://img192.imageshack.us/img192/1431/greentopmenuimages.png") repeat-x;}
.menu li{padding:0; margin:0; list-style:none; display:inline;}
.menu li a{float:left; padding-left:15px; display:block; color:rgb(250,245,245); text-decoration:none; font:12px Verdana, Arial, Helvetica, sans-serif; cursor:pointer; background:url("http://img192.imageshack.us/img192/1431/greentopmenuimages.png") 0px -30px no-repeat; outline:none;}
.menu li a span{line-height:30px; float:left; display:block; padding-right:15px; background:url("http://img192.imageshack.us/img192/1431/greentopmenuimages.png") 100% -30px no-repeat;}
.menu li a:hover{background-position:0px -60px; color:rgb(1,7,15);}
.menu li a:hover span{background-position:100% -60px;}
.menu li a.active, .menu li a.active:hover{line-height:30px; font:12px Verdana, Arial, Helvetica, sans-serif; background:url("http://img192.imageshack.us/img192/1431/greentopmenuimages.png") 0px -90px no-repeat; color:rgb(255,255,255);}
.menu li a.active span, .menu li a.active:hover span{background:url("http://img192.imageshack.us/img192/1431/greentopmenuimages.png") 100% -90px no-repeat;}


.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
	}
	
body {
background: #e8f0de;
margin-left: 600px;
margin-right: 600px;
margin-top: 50px;
}


